//GLOBAL
$main-font-size: 14px;
$main-font-family:'Lato', sans-serif;
$logo-font-family:'Lobster', cursive;
$main-text-shadow:2px 2px 2px black;
$max-page-width: 1300px;

//BREAKPOINTS
$tablet-min-width: 768px;
$deskop-min-width: 992px;
$deskopLarge-min-width: 1200px;
